.wrapper
  .side-bar
    = render "shared/side-bar_users"
    = render "shared/side-bar_groups"
  .chat
    = render "messages/chat_header"
    .messages
      = render @messages
    = render "messages/chat_form"
