.notification
  チャットグループが作成されました。
.wrapper
  .side-bar
    = render "side-bar_header"
    = render "side-bar_groups"
  .chat
    = render "chat_header"
    = render "chat_messages"
    = render "chat_form"
